@use "@styles/colors.module.scss";

.board {
	background-color: #f4f7fd;
	height: 94vh;
	display: flex;
	width: 100vw;
	align-content: center;
	flex-wrap: wrap;
}

.boardContainer {
	margin: 20px;
	width: 90%;
	height: 90%;
	background-color: transparent;
}

.boardContainerLists {
	clear: both;
	height: 90%;
}

.empty {
	color: colors.$grey;
	font-style: normal;
	font-size: 18px;
	line-height: 23px;
	flex: 1;
	display: flex;
	justify-content: center;
}

.addNewColumnBtn {
	background-color: colors.$main-purple;
	border-radius: 2rem;
	font-family: var(--font-regular);
	font-size: var(--font-size-small);
	height: var(--height-button);
	color: colors.$white;
	padding: 1rem 2rem;
	border: none;
	font-weight: bold;
	cursor: pointer;

	&:hover {
		background-color: colors.$hovered-purple;
	}
}
.addNewColumnBtnEmpty {
	font-family: var(--font-regular);
	font-size: var(--font-size-medium);
	height: var(--height-button);
	color: #828fa3;
	margin: 1rem 2rem;
	background-color: transparent;
	border: none;
	font-weight: bold;
	cursor: pointer;

	&:hover {
		color: colors.$hovered-purple;
	}
}
