@use "@styles/colors.module.scss";

.listContainer {
	background-color: transparent;
	display: flex;

	.columns {
		width: 400px;
	}

	.listHeaderContainer {
		display: flex;
		color: colors.$grey;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: 30px;
	}
}
