.sidebar {
	// padding-right: 16px;

	.allBoards {
		color: #828fa3;
		padding-left: 30px;
		margin-bottom: 10px;
		font-size: medium;
	}

	.linkSection {
		display: flex;
		flex-direction: column;
	}

	&.isDisplayed {
		width: 20%;
		height: 100vh;
		text-align: left;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		.sliderSection {
			position: relative;
			display: inline-block;
			width: 45px;
			height: 25px;
		}
		.sliderSection input {
			opacity: 0;
			width: 0;
			height: 0;
		}

		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #635fc7;
			border-radius: 24px;
		}

		.slider:before {
			position: absolute;
			content: "";
			height: 15px;
			width: 13px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			transition: 0.4s;
			border-radius: 50%;
		}

		input:checked + .slider:before {
			transform: translateX(26px);
		}

		&.isLightMode {
			background-color: white;

			.lightDarkModeIconSection {
				background-color: #f4f7fd;
				height: 48px;
				display: flex;
				align-items: center;
				flex-grow: 1;
				max-height: 50px;
				justify-content: center;
				margin-left: 20px;
				margin-top: 200px;
				margin-right: 20px;
			}
		}

		&.isDarkMode {
			background-color: #2b2c37;
		}
	}

	.lightModeIcon {
		margin-right: 20px;
	}

	.darkModeIcon {
		margin-left: 20px;
	}

	.heading {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		padding: 30px;
		margin-bottom: 10px;
	}

	.headingText {
		padding-bottom: 3px;
	}

	.logo {
		width: 40px;
	}

	.icon:hover {
		color: white;
	}

	.linkContainerA {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		padding-bottom: 15px;
		padding-top: 15px;
		margin-bottom: 10px;
		padding-left: 20px;
		padding-right: 50px;
	}

	.linkContainerA:hover {
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		background-color: #635fc7;
	}

	.linkContainerB {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		padding-bottom: 15px;
		padding-top: 15px;
		margin-bottom: 10px;
		padding-left: 20px;
	}

	.linkContainerB:hover {
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		background-color: #635fc7;
	}

	.linkContainerC {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		padding-bottom: 15px;
		padding-top: 15px;
		margin-bottom: 10px;
		padding-left: 20px;
	}

	.linkContainerC:hover {
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		background-color: #635fc7;
	}

	.link {
		font-weight: 700;
		color: #828fa3;
	}

	.link:hover {
		font-weight: 700;
		color: white;
	}

	.themeButton {
		margin-top: auto;
	}

	.newBoardLinkCon {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		padding-bottom: 15px;
		padding-top: 15px;
		margin-bottom: 10px;
		padding-left: 30px;
	}

	.newBoardLink {
		font-weight: 700;
		font-size: small;
		color: #635fc7;
	}

	// .hidesidebar {
	// 	width: 20vh;
	// 	padding-left: 20px;
	// }
}
