@use "@styles/colors.module.scss";

.sidebar {
	justify-content: space-between;
	font-family: var(--font-regular);
	font-size: var(--font-size-regular);

	.linkSection {
		display: flex;
		flex-direction: column;
		color: colors.$grey;
		font-weight: 500;
	}

	.allBoards {
		color: colors.$grey;
		padding-left: 32px;
		margin: 12px 0;
		font-size: var(--font-size-tiny);
		letter-spacing: 1.5px;

	}

	.sidebarLink {
		text-decoration: none;
		color: colors.$grey;
		padding: 12px 32px;
		border-radius: 0 45px 45px 0;
		max-height: 70px;
		width: 90%;
		display: flex;
		align-items: center;

		&:hover {
			background-color: var(--secondary-purple);
			color: var(--main-purple);
		}
	}

	.activeSidebarLink {
		background-color: colors.$main-purple;
		color: colors.$white;
		border-radius: 0 45px 45px 0;
		max-height: 80px;
	}

	.boardIconBtn {
		margin-right: 16px;
	}

	&.isDarkMode {
		.sidebarLink{
			&:hover {
				background-color: white;
			}
		}
	}
	.activeSidebarLink {
		background-color: colors.$main-purple;
		color: colors.$white;
		border-radius: 0 45px 45px 0;
		max-height: 80px;
	}
	.createNewBoardLink {
		color: colors.$main-purple;
	}

	// .createNewBoardLink:hover {
	// 	cursor: pointer;
	// }

	&.isDisplayed {
		width: 300px;
		height: 90vh;
		text-align: left;
		display: flex;
		flex-direction: column;

		.sliderSection {
			position: relative;
			display: inline-block;
			width: 45px;
			height: 25px;
			padding-left: 16px;
		}

		.sliderSection input {
			opacity: 0;
			width: 0;
			height: 0;
		}

		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: colors.$main-purple;
			border-radius: 24px;

			&:hover {
				background-color: var(--main-purple-hover);
			}
		}

		.slider:before {
			position: absolute;
			content: "";
			height: 15px;
			width: 13px;
			left: 4px;
			bottom: 4px;
			background-color: colors.$white;
			transition: 0.4s;
			border-radius: 50%;
		}

		input:checked+.slider:before {
			transform: translateX(26px);
		}

		.lightDarkModeIconSection {
			background-color: #f4f7fd;
			height: 48px;
			display: flex;
			align-items: center;
			max-height: 50px;
			justify-content: center;
			top: 300px;
			margin: 0 16px 0 35px;
			border-radius: 9px;

			&.isDarkMode {
				background-color: #20212c;
			}
		}
	}

	.lightModeIcon {
		margin-right: 20px;
	}

	.darkModeIcon {
		margin-left: 20px;
	}
}

/**
  * Hide SideBar button section
  */
.sideBarBtnContainer {
	display: flex;
	white-space: nowrap;
	max-height: 80px;
}

.sideBarBtn {
	border: none;

	.hideSpan {
		overflow: hidden;
		max-height: 50px;
	}

	&.isShowed {
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 16px;
		color: colors.$grey;
		border-radius: 0 45px 45px 0;
		transition: 200ms ease-in;
		background-color: transparent;
		max-height: 70px;
		padding: 12px 0;
		width: 90%;


		.img {
			margin-left: 32px;
		}

		&:hover {
			background-color: var(--secondary-purple);
			color: var(--main-purple);
		}
	}

	&.isHidden {
		border: none;
		border-radius: 0 45px 45px 0;
		padding: 10px 20px;
		background-color: colors.$main-purple;
		position: absolute;
		bottom: 20px;

		&:hover {
			background-color: colors.$hovered-purple;
		}
	}
}