@use "@styles/colors.module.scss";

.cardContainer {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;

	.cardBody {
		color: black;
		text-decoration: none;
		background-color: colors.$white;
		height: 100px;
		border-radius: 10px;
		font-family: "Plus Jakarta Sans", sans-serif;
		font-size: medium;
		font-weight: bold;
		padding: 16px;
		box-shadow:
			0 2.8px 2.2px rgba(0, 0, 0, 0.034),
			0 6.7px 5.3px rgba(0, 0, 0, 0.048),
			0 12.5px 10px rgba(0, 0, 0, 0.06);
	}
}

.dialogContainer {
	color: colors.$grey;
	height: 500px;
	width: 300px;

	.dialog {
		align-items: center;
		color: black;
	}
}

.cardDialogBody {
	display: flex;
	flex-direction: column;
	padding: 20px;

	h1 {
		font-family: "Plus Jakarta Sans", sans-serif;
		font-size: medium;
	}

	p {
		font-family: "Plus Jakarta Sans", sans-serif;
		font-size: small;
		color: colors.$grey;
	}
}

.subTasks {
	display: inline-block;
}

.subTasksChecks {
	font-family: "Plus Jakarta Sans", sans-serif;
	font-size: small;
	color: colors.$grey;
	background-color: colors.$light-purple;
	padding: 10px;
	margin: 10px;
}
