@use '@styles/colors.module.scss';

.headerRoot {
	display: flex;
	height: 100px;
	width: 100vw;
	justify-content: space-between;
}

.logo {
	padding-top: 30px;
	padding-left: 35px;
}

.headerButtons {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 250px;
}

.addNewTaskBtn {
	background-color: colors.$main-purple;
	border-radius: 2rem;
	font-family: var(--font-regular);
	font-size: var(--font-size-small);
	height: var(--height-button);
	color: colors.$white;
	padding: 1rem 2rem;
	border: none;
	font-weight: bold;
	cursor: pointer;

	&:hover {
		background-color: colors.$hovered-purple;
	}
}

.verticalEllipsis {
	width: 0.25rem;
	cursor: pointer;
}

.container {
	position: relative;
	display: inline-block;
}



.menu {
	background-color: white;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: 0 10px 20px 0 #364e7e40;
	height: 94px;
	position: absolute;
	right: 16px;
	top: 55px;
	width: 192px;
	z-index: 1000;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	cursor: pointer;
	padding: 10px 20px;
}
.edit {
	color: #828fa3;
}

.delete {
	color: #ea5555;
}
