.header {
	// padding-right: 16px;
    display: flex;
		flex-direction: row;
		flex-direction: row;
        align-items: center;

	.heading {
		display: flex;
        background-color: white;
		flex-direction: row;
		align-items: center;
		padding: 30px;
        padding-right: 85px;
	}

	.headingText {
		padding-bottom: 3px;
	}

	.logo {
		width: 40px;
	}

	.subheader {
        display: flex;
		flex-direction: row;
        justify-content: space-between;
        flex: 1;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 40px;
        padding-bottom: 30px;
        margin-left: 5px;
        background-color: white;
    }
}
