$blue: #49c4e5;
$green: #67e2ae;
$grey: #828fa3;
$dark-grey: #2b2c37;
$very-dark-grey: #20212c;
$hovered-purple: #8a84ff;
$light-purple: #f4f7fd;
$main-purple: #635fc7;
$medium-purple: #e4ebfa;
$white: #ffffff;
